body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .character-section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .description {
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
  }

  .icon {
    background-image: url(botton.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 32px;
    outline: none;
    border: 0;
 } 